body {
    background: rgb(4,1,68);
    background: linear-gradient(90deg, rgba(4,1,68,1) 0%, rgba(37,37,37,1) 50%, rgba(103,0,0,1) 100%);
    font-family: Georgia,Times,Times New Roman,serif;
}
h4 {
    font: 28px / 1.231 arial, helvetica, clean, sans;
}
h1 {
    font-family: Roboto Condensed, sans-serif;
}

