/* Ensures each card has the same height and width */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Fix image height and center/crop it */
.card-img-top {
    height: 350px; /* Set a consistent height for images */
    object-fit: cover; /* Crop images to fill the height */
}


/* From SHOW.php */
