.card-header {
    background-color: rgba(198, 198, 198, 0.393);
}
.card-custom {
    transition: all 0.3s ease-out;
}

.card-custom:hover { 
    background-color: #534b4b41; 
    transform: scale(1.05);
    border-radius: 3px;
    border-color: aliceblue;
    box-shadow: 5px 5px 5px #000000;
}

.cast-link:hover, .available-on-link:hover {
    background-color: rgb(240, 251, 168);
}


/* Cast & Crew images */
.carousel-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: .5;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
}

