/* Backdrop styles */
.backdrop {
    min-height: calc(50vh + 10vw); /* Dynamic height based on viewport */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Title responsive styles */
.title-responsive {
    font-size: 5vw; /* Adjusts the font size to 5% of the viewport width */
    text-shadow: 5px 3px 2px black;
}

/* Large screens */
@media (max-width: 2560px) {
    .title-responsive {
        font-size: 5vw; /* Smaller font size for larger screens */
    }
    .backdrop {
        min-height: calc(60vh + 27vw); /* Adjust backdrop height for large screens */
    }
}

/* Medium screens */
@media (max-width: 992px) {
    .title-responsive {
        font-size: 5vw; /* Font size adjusts to 5% of viewport width */
    }
    .backdrop {
        min-height: calc(45vh + 12vw); /* Decrease backdrop height for medium screens */
    }
    .show-details, .available-cast {
        text-align: center;
    }
}

/* Small screens */
@media (max-width: 768px) {
    .title-responsive {
        font-size: 5vw; /* Increase font size for better readability */
    }
    .backdrop {
        min-height: calc(40vh + 15vw); /* Adjust backdrop height for small screens */
    }
    .show-details, .available-cast {
        text-align: center;
    }
}

/* Extra small screens */
@media (max-width: 576px) {
    .title-responsive {
        font-size: 5vw; /* Further increase font size for readability */
    }
    .backdrop {
        min-height: calc(35vh + 20vw); /* Further adjust backdrop height */
        background-size: contain; /* Contain background on extra small screens */
    }
    .show-details, .available-cast {
        text-align: center;
    }
}
