h1, p {
    font-family: Roboto Condensed, sans-serif;
}
h1 {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #333;
}
p {
    font-size: 1em;
}
/* Loading spinner styling */
#loadingSpinner {
    display: none;
    text-align: center;
    font-size: 5em;
    color: white;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}
.main-background {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 750px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
