/* Genre color styles */
.genre-action { background-color: #ff5733; color: #fff; }
.genre-action-adventure { background-color: #ff8d1a; color: #fff; }
.genre-adult { background-color: #c70039; color: #fff; }
.genre-adventure { background-color: #ff914d; color: #fff; }
.genre-animation { background-color: #8e44ad; color: #fff; }
.genre-anime { background-color: #3498db; color: #fff; }
.genre-biography { background-color: #2ecc71; color: #fff; }
.genre-comedy { background-color: #ffbd69; color: #fff; }
.genre-crime { background-color: #900c3f; color: #fff; }
.genre-documentary { background-color: #3a3b3c; color: #fff; }
.genre-drama { background-color: #6c757d; color: #fff; }
.genre-family { background-color: #00bcd4; color: #fff; }
.genre-fantasy { background-color: #673ab7; color: #fff; }
.genre-food { background-color: #f39c12; color: #fff; }
.genre-game-show { background-color: #d35400; color: #fff; }
.genre-history { background-color: #34495e; color: #fff; }
.genre-horror { background-color: #e74c3c; color: #fff; }
.genre-kids { background-color: #16a085; color: #fff; }
.genre-music { background-color: #8e44ad; color: #fff; }
.genre-musical { background-color: #f50057; color: #fff; }
.genre-mystery { background-color: #2980b9; color: #fff; }
.genre-nature { background-color: #27ae60; color: #fff; }
.genre-news { background-color: #c0392b; color: #fff; }
.genre-reality { background-color: #7f8c8d; color: #fff; }
.genre-romance { background-color: #e84393; color: #fff; }
.genre-sci-fi-fantasy { background-color: #2980b9; color: #fff; }
.genre-science-fiction { background-color: #1abc9c; color: #fff; }
.genre-soap { background-color: #d35400; color: #fff; }
.genre-sports { background-color: #2d3436; color: #fff; }
.genre-supernatural { background-color: #8e44ad; color: #fff; }
.genre-talk { background-color: #34495e; color: #fff; }
.genre-thriller { background-color: #c0392b; color: #fff; }
.genre-travel { background-color: #16a085; color: #fff; }
.genre-tv-movie { background-color: #ff6347; color: #fff; }
.genre-war { background-color: #606060; color: #fff; }
.genre-war-politics { background-color: #2c3e50; color: #fff; }
.genre-western { background-color: #a52a2a; color: #fff; }
