#availableOnContainer { 
    max-height: 750px; 
    overflow-y: auto; 
}

#titleSearch, #personSearch {
    margin-right: .5em;
}

.form-check-label {
    margin-top: .3em;
}

.form-check-input:checked {
    background-color: #e48304;
    border-color: #ffffff;
}