/* Ensures each card has the same height and width */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-result:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.05);
    border-color: aliceblue;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/* Fix image height and center/crop it */
.card-img-top {
    border-radius: 10px 10px 0 0;
    height: 380px; /* Set a consistent height for images */
    object-fit: cover; /* Crop images to fill the height */
    background-color: transparent;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.btn-download, .btn-youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.2em;
    text-decoration: none;
}

.btn-download {
    background-color: #069a77;
}

.btn-youtube {
    background-color: #FF0000;
}

.btn-download i, .btn-youtube i {
    color: rgb(255, 255, 255);
}
