/* Carousel Container for New Releases */
.new-releases-carousel {
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

/* Scrolling container for New Releases with dynamic duration */
.scroll-container {
    display: flex;
    animation-name: scrollLeft;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    justify-content: space-evenly;
}

/* Keyframes for scrolling New Releases */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* New Releases Card Styling */
.release-card {
    flex: 0 0 auto;
    width: 150px;
    transition: transform 0.2s ease;
    margin-bottom: 1.5em;
}

.release-card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.release-card:hover {
    transform: scale(1.05);
    border-color: aliceblue;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/* Pause scrolling on hover */
.scroll-container:hover {
    animation-play-state: paused;
}

/* Customize Scrollbar Styling */
.new-releases-carousel::-webkit-scrollbar {
    height: 1rem;
}

.new-releases-carousel::-webkit-scrollbar-track {
    background: linear-gradient(
        to right,
        linen 25%,
        lightsalmon 25%,
        lightsalmon 50%,
        lightblue 50%,
        lightblue 75%,
        gainsboro 75%
    );
    padding: 0.625rem;
    margin: 0 5rem;
}

.new-releases-carousel::-webkit-scrollbar-thumb {
    background-color: slategrey;
    border: 0.5rem solid gainsboro;
}

/* Source carousel container */
.source-carousel-container {
    overflow: hidden;
    width: 100%;
}

/* Scrolling container for source logos */
.source-scroll-container {
    display: flex;
    animation: scroll 20s linear infinite; /* Adjust speed as needed */
}

/* Pause scrolling on hover */
.source-scroll-container:hover {
    animation-play-state: paused;
}

/* Infinite scroll animation for source logos */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* Source card */
.source-card {
    flex: 0 0 auto;
    margin-right: 15px;
    transition: transform 0.3s ease-in-out;
}

.source-card:hover {
    transform: scale(1.1);
}

/* Source logo styling */
.source-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.8;
}

.source-logo:hover {
    opacity: 1;
    filter: none;
}
